<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NHSPatientServicesEntities" connectionString="metadata=res://*/NHSPatServModel.csdl|res://*/NHSPatServModel.ssdl|res://*/NHSPatServModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities1" connectionString="metadata=res://*/NHSPatientServicesModel.csdl|res://*/NHSPatientServicesModel.ssdl|res://*/NHSPatientServicesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities2" connectionString="metadata=res://*/nhsMODEL.csdl|res://*/nhsMODEL.ssdl|res://*/nhsMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities4" connectionString="metadata=res://*/NHSPatientServicesModel.csdl|res://*/NHSPatientServicesModel.ssdl|res://*/NHSPatientServicesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities5" connectionString="metadata=res://*/NHSPatientServicesModel.csdl|res://*/NHSPatientServicesModel.ssdl|res://*/NHSPatientServicesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NHSPatientServicesEntities6" connectionString="metadata=res://*/NHSPatientServicesModel.csdl|res://*/NHSPatientServicesModel.ssdl|res://*/NHSPatientServicesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEUEDA_GRAD16\SQLEXPRESS;initial catalog=NHSPatientServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>