@model DotNet.Highcharts.Highcharts

@{ 
    ViewBag.Title = "Data Analysed";
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js" type="text/javascript"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js" type="text/javascript"></script>

<h2 style="position:center;">Data Analysed</h2>

<br/>
<br/>
@*Chart model passed*@
@(Model)